html,
body {
    background: #fff0f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    padding: 10px;
}

input,
textarea {
    outline: none;
}

input:focus,
textarea:focus {
    outline: #5591c5;
    background: #5591c5;
    opacity: 0.8;
    color: #fff;
}

header {
    border-bottom: 4px solid #5591c5;
}

footer {
    border-top: 4px solid #5591c5;
}

.site-content li {
    display: block;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #5591c5;
    padding: 10px;
}

.site-header, 
.site-footer,
.title {
    font-family: 'Spartan', sans-serif;
    color: #5591c5;
}

.site-content {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

strong.site-content {
    color: #5591c5;
}

strong.site-content:hover {
    color: #000;
    border-bottom: 2px solid #5591c5;
}

/* a.nav-links:link {
    color: #ffa500;
}

a.nav-links:visited {
    opacity: 0.8;
} */

a.nav-links:hover {
    color: black;
    border-bottom: 2px solid #5591c5;
}

a.nav-links:active {
    font-weight: 700;
    color: #5591c5;
}

div.container {
    width: 80%;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

#quote {
    font-size: 16px;
}

a.main-title {
    text-decoration: none;
    color:#5591c5;
}

.header-logo,
.footer-logo {
    width: 100px;
    height: 100px;
    padding-right: 20px;
    vertical-align: sub;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.3s;
}

.header-logo:hover,
.footer-logo:hover {
    transform: rotate(20deg);
}

.language-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.hyperlink {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.main-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 1px solid #5591c5;
    border-radius: 20px;
}

.project-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    border: 1px solid #5591c5;
    border-radius: 25px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.3s;
}

.project-img:hover {
    opacity: 0.5;
    transform: scale(0.9);
}

.project-hyperlink {
    float: right;
    margin-top: 5px;
}

.experience-column1 {
    display: block;
}

.goals,
.hobbies {
    display: flex;
    justify-content: space-between;
}

.experience-column2 {
    padding-bottom: 20px;
}

.nota-bene {
    font-family: 'Spartan', sans-serif;
    font-size: 8px;
    font-weight: 700;
    color: #5591c5;
}

.education-date {
    font-size: 10px;
}

.form-input,
.text-input {
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.form-input:focus,
.text-input:focus {
    outline: #5591c5;
}

.text-input {
    width: 351px;
}

.form-wrapper label {
    display: block;
}

.btn {
    width: 300px;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-family: 'Spartan', sans-serif;
    color: #fff;
    background: #5591c5;
}


@media (min-width: 641px) {

    #overlay {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    .overlay-container {
        position: fixed;
        left: 500px;
        width: 1000px;
        height: 100vh;
        background: url(../images/shayle_virtual_Logo.svg) no-repeat;
        background-size: cover;
    }

    li {
        display: inline;
    }

    p.copyright {
        top: 25%;
    }

    p.title,
    p.copyright {
        width: 300px;
        display: inline;
        position: absolute;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;

    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .column1 {
       order: 2; 
    }

    .column2 {
        order: 1;
    }
    .column3 {
        order: 3;
    }
    .goals,
    .hobbies {
        align-items: center;

    }

    .header-anchor,
    .footer-anchor {
        position: relative;
        top: 25%;
    }

    .form-input,
    .text-input {
        width: 500px;
    }

}